$black: #222222;
$white: #ffffff;
//$brown: #801336;
$brown: #760c0c;
$brown_opacity: rgba(#760c0c, 0.5);
$red: #c72c41;

$vk: rgba(72, 114, 163, 1);
$fb: rgba(59, 89, 152, 1);
$yb: rgba(201, 45, 43, 1);
$tw: rgba(29, 161, 242, 1);
$inst: rgba(106, 69, 59, 1);

$primary-text: $black;
$primary-bg: $brown;
$primary-active-elements: $red;
$primary-accent-1: $red;
$primary-accent-2: $brown;
$primary-accent-3: $black;
$primary-accent-4: $brown_opacity;
$secondary-text: $white;
$secondary-bg: $white;
