html,
body {
  margin: 0;
}

.Text {
  &_Right {
    text-align: right;
  }

  &_Center {
    text-align: center;
  }

  &_Left {
    text-align: left;
  }

  &_Uppercase {
    text-transform: uppercase;
  }
}

img {
  width: 100%;
  height: auto;
}

.Container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &_Wide {
    width: 100%;
  }
}
