/* @font-face {
  font-family: "Roboto";
  src: url("../webfonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../webfonts/Roboto-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../webfonts/Raleway-Medium.ttf") format("truetype");
  font-display: swap;
} */
