<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(
      rel="stylesheet"
      href="css/style.min.css"
    )
    title Вятская ГСХА
  body
    include blocks/topbar.pug
    include blocks/header.pug
    include blocks/menu.pug
    include blocks/popular.pug
    include blocks/anons.pug
    include blocks/forMakeInfo.pug
    include blocks/news.pug
    include blocks/podrazdeleniya.pug
    include blocks/specialinfo.pug
    include blocks/partners.pug
    include blocks/footer.pug
    include blocks/gotoup.pug
    script(src="./js/scripts.min.js")