.ArticleView {
  margin-top: 40px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  &:nth-last-of-type() {
    margin-bottom: 50px;
  }

  &-Title {
    font-size: 1.5rem;
    margin-bottom: 7px;

    &_Page {
      margin-bottom: 25px;
    }
  }

  &-Link {
    color: $primary-text;
    transition: color 0.2s ease;

    &:hover {
      color: $primary-active-elements;
    }
  }

  &-Info {
    margin-bottom: 12px;

    & a {
      color: $primary-text;
      transition: color 0.2s ease;
      &:hover {
        color: $primary-active-elements;
      }
    }
  }
  &-Date,
  &-Rubric {
    margin-bottom: 5px;
  }

  &-Date {
    & > span:nth-of-type(1):after {
      content: fa-content($fa-var-calendar-alt);
      color: #222;
    }
  }

  &-Rubric {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    & > span:nth-of-type(1):after {
      content: fa-content($fa-var-book);
      color: #222;
    }
  }

  &-TitleIcon {
    @extend %fa-icon;
    @extend .fas;
    margin-right: 5px;
  }

  &-Readmore {
    //margin-top: 15px;
    display: inline-block;
    padding: 7px 14px;
    border: 1px solid $primary-active-elements;
    border-radius: $border-radius;
    background-color: $secondary-text;
    color: $primary-active-elements;
    transition: all 0.25s ease;
    cursor: pointer;

    &:hover {
      background-color: $primary-active-elements;
      color: $secondary-text;
    }
  }
  &-Article {
    p:not(.Abiturient-FacTitle):not(.Abiturient-ProfilTitle):not(.Abiturient-ImpInfoLine) {
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 1.5rem;

      &:nth-of-type(1) {
        margin-top: 0;
      }
      &:nth-last-of-type() {
        margin-bottom: 0;
      }
    }

    h3:not(.VgGrid-TextBlock > h3) {
      margin-top: 25px;
      margin-bottom: 20px;
    }
    h4 {
      margin-top: 25px;
    }

    a:not(.VgGrid-Link):not(.ArticleView-Readmore):not([href$=".jpg"]):not([href$=".png"]):not(.wp-block-file__button):not(.ui-tabs-anchor):not(.Abiturient-Link):not(.Abiturient-Link):not(.Abiturient-FacTitle):not(.Abiturient-FacImg) {
      font-weight: 600;
      color: $primary-active-elements;
      border-bottom: 2px solid transparent;
      padding-bottom: 2px;
      transition: all 0.2s ease;

      &:hover {
        color: $primary-accent-2;
        border-bottom: 2px solid $primary-accent-2;
      }
    }

    ul:not(.blocks-gallery-grid) {
      padding-left: 15px;
      margin-top: 12px;
      margin-bottom: 12px;

      li {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5rem;

        &:not(.tabs-nav):before {
          content: "-";
          color: $primary-text;
          position: absolute;
          left: -11px;
        }
      }
    }

    .wp-block-table {
      margin-top: 20px;
      margin-bottom: 20px;

      td {
        padding: 8px;
        line-height: 1.5;
      }
    }

    .wp-block-quote {
      border-left: 5px solid $primary-accent-2;
      padding: 10px 15px;
      background-color: rgba($primary-accent-2, 0.015);
      font-size: 1.05rem;

      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        margin-bottom: 0;
      }
    }

    .wp-block-embed {
      &.aligncenter {
        .wp-block-embed__wrapper {
          iframe {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .wp-block-image {
      text-align: center;
    }

    .wp-block-file {
      margin-bottom: 12px;

      & > a:nth-of-type(1) {
        color: $primary-active-elements;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        transition: all 0.2s ease;
        line-height: 1.5;

        &:hover {
          border-bottom: 2px solid $primary-accent-2;
          color: $primary-accent-2;
        }
      }

      &__button {
        background-color: $primary-active-elements;
        border-radius: $border-radius;
        font-size: 0.9rem;
        /* @extend %fa-icon;
        @extend .fas;

        &:before {
          content: fa-content($fa-var-file-download);
          color: $secondary-text;
        } */
      }
    }

    .wp-block-media-text__content {
      padding: 0 4%;
    }
  }

  &-NotContent {
    font-size: 1.4rem;
  }

  &-Keywords {
    margin-top: 10px;

    &_SingleArticle {
      margin-top: 30px;
    }
  }
}
