.News {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &-Outer {
    background-color: #fdfafa;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &-Single {
    display: flex;
    flex-flow: column nowrap;
    width: 32%;
    margin-bottom: 30px;
  }

  &-SingleInner {
    position: relative;

    &:hover {
      .News-Title {
        //color: $primary-active-elements;
        color: $primary-active-elements;
      }
    }
  }

  &-Title {
    //position: absolute;
    //background-color: $red;
    height: 76px;
    padding: 5px;
    overflow: hidden;
    font-size: 1.2rem;
    color: $primary-text;
    font-weight: 600;
    transition: color ease 0.3s;

    &:hover {
      //background-color: $brown;
      color: $primary-active-elements;
    }

    &_Inside {
      font-size: 1.1rem;
      height: 70px;
    }
  }

  &-TitleBar {
    &_Inside {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &-ShowAll {
    &_Inside {
      min-width: 150px;
      color: $primary-active-elements;
      font-weight: 600;
      transition: color ease 0.3s;
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        color: $primary-accent-2;
      }
    }
  }

  &-ImgWrapper {
    position: relative;
  }

  &-Date {
    position: absolute;
    bottom: 10px;
    left: 5px;
    max-width: 100px;
    padding: 4px;
    border-radius: $border-radius;
    background-color: rgba($primary-accent-1, 0.75);
    color: $secondary-text;
  }

  &-Tags {
    margin-top: 7px;
  }
}

@include mq-max(767px) {
  .News {
    &-Single {
      width: 49%;

      &:last-child {
        display: none;
      }
    }

    /* &-Title {
      font-size: 1.2rem;
    } */

    &-TitleBar {
      &_Inside {
        flex-wrap: wrap;
      }
    }
    &-ShowAll {
      &_Inside {
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
      }
    }
  }
}

@include mq-max(575px) {
  .News {
    &-Single {
      width: 100%;

      &:last-child {
        display: block;
      }
    }

    &-Title {
      font-size: 1.3rem;
      position: relative;
      top: 0;
    }
  }
}

@include mq-max(430px) {
  .News {
    &-Title {
      font-size: 1.2rem;
    }
  }
}

/* @include mq-max(380px) {
  .News {
    &-Title {
      position: relative;
      top: 0;
    }
  }
} */

@include mq-max(330px) {
  .News {
    &-Title {
      font-size: 1.1rem;
    }
  }
}

@include mq-max(330px) {
  .News {
    &-Title {
      font-size: 1.1rem;
    }
  }
}
