.Anons-Outer.Section.Container
  h2.Section-Title.Text_Uppercase Анонсы и объявления
  div.Anons
    a.Anons-Item
      div
        img(src="./images/anons.jpg", alt="")
      div
        h3 Заседание ученого совета
        p 16.01.2020

    a.Anons-Item
      div
        img(src="./images/anons.jpg", alt="")
      div
        h3 Заседание ученого совета Lorem ipsum dolor sit amet consectetur.
        p 16.01.2020

    a.Anons-Item
      div
        img(src="./images/anons.jpg", alt="")
      div
        h3 Заседание ученого совета Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, earum.
        p 16.01.2020

    a.Anons-Item
      div
        img(src="./images/anons.jpg", alt="")
      div
        h3 Заседание ученого совета Lorem, ipsum dolor.
        p 16.01.2020

  a.Section-ShowAll(href="#") Все объявления
