footer.Footer-Outer.Container_Wide
  .Footer
    div.Footer-Sections.Block
      div.FooterSection.Col12.ColMd4
        h3.FooterSection-Title Академия
        ul
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Документы
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Факультеты
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Подразделения
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Библиотека
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Дополнительное образование
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Автошкола
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Карта сайта

      div.FooterSection.Col12.ColMd4
        h3.FooterSection-Title Информация
        ul
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Абитуриенту
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Обучающемуся
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Выпускнику
          li.FooterSection-Item
            a.FooterSection-Link(href="#") Сотруднику

      div.FooterSection.Col12.ColMd4
        h3.FooterSection-Title Контакты
        p.FooterSection-Item
          span.FooterSection-Icon.FooterSection-Icon_Home
          span 610017, г.Киров, Октябрьский пр-т, 133
        p.FooterSection-Item
          span.FooterSection-Icon.FooterSection-Icon_Phone
          span +7 (8332) 574388
        p.FooterSection-Item
          span.FooterSection-Icon.FooterSection-Icon_Mail
          span info@vgsha.info

    .Copyright.Text_Center
      p При использовании материалов сайта ссылка на первоисточник обязательна. Все права защищены.
      p &copy; ФГБОУ ВО Вятская ГСХА