.Container
  .ArticleView-Article
    .VgMediaBlocks.Block
      a(href="/upravlenie-vospitatelnoj-raboty/centr-nepreryvnogo-obrazovanija-agropolis/obrazovatelnye-kursy-dlja-detej-i-podrostkov/").VgMediaBlocks-Item.VgMediaBlocks-Item_JIC.Block.ColLg4.ColSm6.Col12.No-MarginSide
        .VgMediaBlocks-Img.ColMd4.Col6
          img(src='./images/obraz_kursy.png')
        .VgMediaBlocks-Description.ColMd8.Col12
          p Образовательные курсы для детей и подростков

      a(href="/upravlenie-vospitatelnoj-raboty/centr-nepreryvnogo-obrazovanija-agropolis/kursy-podgotovki-k-egje/").VgMediaBlocks-Item.VgMediaBlocks-Item_JIC.Block.ColLg4.ColSm6.Col12.No-MarginSide
        .VgMediaBlocks-Img.ColMd4.Col6
          img(src='./images/kursy_ege.png')
        .VgMediaBlocks-Description.ColMd8.Col12
          p Курсы подготовки к ЕГЭ

      a(href="/upravlenie-vospitatelnoj-raboty/centr-nepreryvnogo-obrazovanija-agropolis/regionalnaja-kompetentnostnaja-olimpiada/").VgMediaBlocks-Item.VgMediaBlocks-Item_JIC.Block.ColLg4.ColSm6.Col12.No-MarginSide
        .VgMediaBlocks-Img.ColMd4.Col6
          img(src='./images/komp_olimp.png')
        .VgMediaBlocks-Description.ColMd8.Col12
          p Региональная компетентностная олимпиада

      a(href="#").VgMediaBlocks-Item.VgMediaBlocks-Item_JIC.Block.ColLg4.ColSm6.Col12.No-MarginSide
        .VgMediaBlocks-Img.ColMd4.Col6
          img(src='./images/skill_camp.png')
        .VgMediaBlocks-Description.ColMd8.Col12
          p Летний городской образовательный проект «SKILL CAMP»

      a(href="/agroklassy/").VgMediaBlocks-Item.VgMediaBlocks-Item_JIC.Block.ColLg4.ColSm6.Col12.No-MarginSide
        .VgMediaBlocks-Img.ColMd4.Col6
          img(src='./images/agroklassy.png')
        .VgMediaBlocks-Description.ColMd8.Col12
          p Развитие агрообразования в Кировской области (агроклассы)

      a(href="#").VgMediaBlocks-Item.VgMediaBlocks-Item_JIC.Block.ColLg4.ColSm6.Col12.No-MarginSide
        .VgMediaBlocks-Img.ColMd4.Col6
          img(src='./images/dist_kurs.png')
        .VgMediaBlocks-Description.ColMd8.Col12
          p Дистанционный образовательный курс «Агрополис»

.Container
  .ArticleView-Article
    .Block(style="align-items:center; margin-bottom: 10px")
      div(style="margin-right: 10px")
        img(src="./images/mail_icon.png")
      div
        p(style="margin-bottom: 0") г.Киров, Октябрьский пр-т, 133, 1 этаж, каб. Б-136
    .Block(style="align-items:center; margin-bottom: 10px")
      div(style="margin-right: 10px")
        img(src="./images/mail_icon.png")
      div
        p(style="margin-bottom: 0") г.Киров, Октябрьский пр-т, 133, 1 этаж, каб. Б-136