header.Header.Container
  a.Logo(href="#")
    img.Logo-Img(src="./images/logo.png", alt="логотип Вятская ГСХА")
    .Logo-Text
      p.Logo-SubTitle.Text_Uppercase ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ
      p.Logo-Title.Text_Uppercase ВЯТСКАЯ ГОСУДАРСТВЕННАЯ СЕЛЬСКОХОЗЯЙСТВЕННАЯ АКАДЕМИЯ