header.Header.Container
  a.Logo(href="#")
    img.Logo-Img(src="./images/vgatu_logo.png", alt="логотип Вятский ГАТУ")
    .Logo-Text
      p.Logo-SubTitle.Text_Uppercase ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ
      p.Logo-Title.Text_Uppercase "ВЯТСКИЙ ГОСУДАРСТВЕННЫЙ АГРОТЕХНОЛОГИЧЕСКИЙ УНИВЕРСИТЕТ"