nav.MainMenu-Outer.Container
  button.MobileMenu-Button
  ul.MainMenu
    li.MainMenu-Item
      a.MainMenu-Link(href="#") Академия
        span.MainMenu-Icon
      ul.SubMenu
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Сведения об ОО
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Абитуриенту
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Новости
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Страница ректора
        li.SubMenu-Item
          a.SubMenu-Link(href="#") История
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Противодействие коррупции
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Противодействие терроризму
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Структура академии
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Попечительский совет
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Ассоциация выпускников
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Контакты
    li.MainMenu-Item
      a.MainMenu-Link(href="#") Образование
        span.MainMenu-Icon
      ul.SubMenu
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Факультеты
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Центр дополнительного образования
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Автошкола
    li.MainMenu-Item
      a.MainMenu-Link(href="#") Наука и инновации
        span.MainMenu-Icon
      ul.SubMenu
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Аспирантура
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Научная библиотека
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Конференции
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Научно-исследовательский сектор
    li.MainMenu-Item
      a.MainMenu-Link(href="#") Международная деятельность
    li.MainMenu-Item
      a.MainMenu-Link(href="#") Студенческая жизнь
        span.MainMenu-Icon
      ul.SubMenu
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Новости студенчества
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Центр молодежной политики
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Профком студентов
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Студенческий клуб
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Студенческие отряды
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Студенческий совет
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Спорт
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Общежития
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Театральная студия
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Команда КВН
        li.SubMenu-Item
          a.SubMenu-Link(href="#") Студия танца