.News-Outer.Section.Container
  h2.Section-Title.Text_Uppercase Новости
  div.News
    .News-Single
      .News-SingleInner
        a(href="#")
          h3.News-Title A bright future for Moore’s Law
          p.News-Date.Text_Center 01.01.2020
          img.News-Img(src="./images/news1.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Лошадь
        a.Tags-Item(href="#") Зима
        a.Tags-Item(href="#") Еще один тег

    .News-Single
      .News-SingleInner
        a(href="#")
          p.News-Date.Text_Center 01.01.2020
          h3.News-Title To Store Renewable Energy, Try Freezing Air
          img.News-Img(src="./images/news2.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Хвойный лес
        a.Tags-Item(href="#") Туман

    .News-Single
      .News-SingleInner
        a(href="#")
          h3.News-Title A bright future for Moore’s Law
          p.News-Date.Text_Center 01.01.2020
          img.News-Img(src="./images/news1.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Лошадь
        a.Tags-Item(href="#") Зима
        a.Tags-Item(href="#") Еще один тег

    .News-Single
      .News-SingleInner
        a(href="#")
          p.News-Date.Text_Center 01.01.2020
          h3.News-Title To Store Renewable Energy, Try Freezing Air
          img.News-Img(src="./images/news2.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Хвойный лес
        a.Tags-Item(href="#") Туман

    .News-Single
      .News-SingleInner
        a(href="#")
          h3.News-Title A bright future for Moore’s Law
          p.News-Date.Text_Center 01.01.2020
          img.News-Img(src="./images/news1.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Лошадь
        a.Tags-Item(href="#") Зима
        a.Tags-Item(href="#") Еще один тег

    .News-Single
      .News-SingleInner
        a(href="#")
          p.News-Date.Text_Center 01.01.2020
          h3.News-Title To Store Renewable Energy, Try Freezing Air
          img.News-Img(src="./images/news2.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Хвойный лес
        a.Tags-Item(href="#") Туман

    .News-Single
      .News-SingleInner
        a(href="#")
          h3.News-Title A bright future for Moore’s Law
          p.News-Date.Text_Center 01.01.2020
          img.News-Img(src="./images/news1.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Лошадь
        a.Tags-Item(href="#") Зима
        a.Tags-Item(href="#") Еще один тег

    .News-Single
      .News-SingleInner
        a(href="#")
          p.News-Date.Text_Center 01.01.2020
          h3.News-Title To Store Renewable Energy, Try Freezing Air
          img.News-Img(src="./images/news2.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Хвойный лес
        a.Tags-Item(href="#") Туман

    .News-Single
      .News-SingleInner
        a(href="#")
          h3.News-Title A bright future for Moore’s Law
          p.News-Date.Text_Center 01.01.2020
          img.News-Img(src="./images/news1.jpg", alt="news")
      div.News-Tags.Tags
        a.Tags-Item(href="#") Лошадь
        a.Tags-Item(href="#") Зима
        a.Tags-Item(href="#") Еще один тег

  a.Section-ShowAll(href="#") Все новости