.Partners-Outer.Section.Container
  h2.Section-Title.Text_Uppercase наши партнеры
  div.Partners
    a.Partners-Item(href="#")
      img(src="./images/mcx.png", alt="1")
    a.Partners-Item(href="#")
      img(src="./images/min-nauki.png", alt="1")
    a.Partners-Item(href="#")
      img(src="./images/min-prosv.png", alt="1")
    a.Partners-Item(href="#")
      img(src="./images/agrovuz.png", alt="1")
    a.Partners-Item(href="#")
      img(src="./images/mcx.png", alt="1")
    a.Partners-Item(href="#")
      img(src="./images/min-nauki.png", alt="1")
    a.Partners-Item(href="#")
      img(src="./images/min-prosv.png", alt="1")
    a.Partners-Item(href="#")
      img(src="./images/agrovuz.png", alt="1")
