.Podrazdeleniya-Outer.Section.Container
  h2.Section-Title.Text_Uppercase Подразделения
  div.Podrazdeleniya
    a.Podrazdeleniya-Item(href="#")
      img.Podrazdeleniya-Img(src="./images/baza.jpg", alt="1")
    a.Podrazdeleniya-Item(href="#")
      img.Podrazdeleniya-Img(src="./images/autos.jpg", alt="1")
    a.Podrazdeleniya-Item(href="#")
      img.Podrazdeleniya-Img(src="./images/kon.jpg", alt="1")
    a.Podrazdeleniya-Item(href="#")
      img.Podrazdeleniya-Img(src="./images/baza.jpg", alt="1")