.PopularInfo-Outer.Section.Container
  h2.Section-Title.Text_Uppercase Популярные разделы
  div.PopularInfo
    .PopularInfo-Item
      a.PopularInfo-Link(href="#") Расписание занятий
    .PopularInfo-Item
      a.PopularInfo-Link(href="#") Сведения об образовательной организации
    .PopularInfo-Item
      a.PopularInfo-Link(href="#") Абитуриенту
    .PopularInfo-Item
      a.PopularInfo-Link(href="#") Расписание занятий
    .PopularInfo-Item
      a.PopularInfo-Link(href="#") Сведения об образовательной организации
    .PopularInfo-Item
      a.PopularInfo-Link(href="#") Абитуриенту