.TopBar-Outer.Container_Wide
  .TopBar.Block
    ul.TopMenu
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Поступающему
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Обучающемуся
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Выпускнику
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Сотруднику

    .Socials
      a.Socials-Link.Socials-Link_Vk(href="#")
      a.Socials-Link.Socials-Link_Instagram(href="#")
      a.Socials-Link.Socials-Link_Youtube(href="#")
      a.Socials-Link.Socials-Link_Twitter(href="#")
      a.Socials-Link.Socials-Link_Facebook(href="#")

    .TopBarServices
      div.TopBarServices-Search.Search
        input.Search-Input(type="text")
        button.Search-Button
        button.Search-Hide
      p.TopBarServices-Icon.TopBarServices-Icon_Search
      p.TopBarServices-Icon.TopBarServices-Icon_Blind
      p.TopBarServices-Icon.TopBarServices-Icon_EnterServices