.TopBar-Outer.Container_Wide
  .TopBar.Block
    ul.TopMenu
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Поступающему
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Обучающемуся
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Выпускнику
      li.TopMenu-Item
        a.TopMenu-Link(href="#").Text_Uppercase Сотруднику

    .Socials
      a.Socials-Link.Socials-Link_Vk(href="#")
      a.Socials-Link.Socials-Link_Instagram(href="#")
      a.Socials-Link.Socials-Link_Youtube(href="#")
      a.Socials-Link.Socials-Link_Twitter(href="#")
      a.Socials-Link.Socials-Link_Facebook(href="#")

    .TopBarServices
      div.TopBarServices-Search.Search
        input.Search-Input(type="text")
        button.Search-Button
        button.Search-Hide
      p.TopBarServices-Icon.TopBarServices-Icon_Search
      p.TopBarServices-Icon.TopBarServices-Icon_Blind
      div.TopBarServices-Group.TopBarServices-Group_EnterServices
        p.TopBarServices-Icon.TopBarServices-Icon_EnterServices
        ul.ServiceMenu
          li.ServiceMenu-Item
            a.ServiceMenu-Link(href="http://92.255.235.145:18080/ords/lk/f?p=101:LOGIN_DESKTOP") Личный кабинет ЭИОС
          li.ServiceMenu-Item
            a.ServiceMenu-Link(href="http://92.255.235.145:18080/ords/lk/f?p=301:LOGIN_DESKTOP") Личный кабинет преподавателя
          li.ServiceMenu-Item
            a.ServiceMenu-Link(href="http://92.255.235.145:18080/ords/lka/f?p=102:LOGIN::vo") Личный кабинет поступающего на высшее образование
          li.ServiceMenu-Item
            a.ServiceMenu-Link(href="http://92.255.235.145:18080/ords/lka/f?p=102:LOGIN::spo") Личный кабинет поступающего на СПО
          li.ServiceMenu-Item
            a.ServiceMenu-Link(href="http://92.255.235.145:18080/ords/lka/f?p=102:LOGIN::asp") Личный кабинет поступающего в аспирантуру